.blog-container {
  max-width: 100ch;
  margin: 40px auto;
  line-height: 1.6;
}

.blog-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.blog-container h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #af1e2d;
  font-weight: 500;
}

.blog-container h3 {
  font-size: 1.025rem;
  margin-top: 20px;
  font-weight: 700;
}

.blog-container img {
  max-width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.blog-container p {
  margin-bottom: 10px;
}

.blog-container hr {
  margin: 30px 0;
}

.blog-container ul {
  margin-left: 20px;
  list-style: disc;
}
